
 
    <h1>Escreva o nome dos quatro integrantes e os temas ou funções</h1>
    <form action="/tasks/teams" method="POST">
    <input type="text" name="name1" placeholder="Nome 1">
    <input type="text" name="name2" placeholder="Nome 2">
    <input type="text" name="name3" placeholder="Nome 3">
    <input type="text" name="name4" placeholder="Nome 4">
    <input type="text" name="tema1" placeholder="temas/função">
    <input type="text" name="tema2" placeholder="temas/função">
    <input type="text" name="tema3" placeholder="temas/função">
    <input type="text" name="tema4" placeholder="temas/função">
    <input type="submit" value="enviar">
    </form>
    {{#if nomeTema1}}
        
    <h1>{{name1}} : {{nomeTema1}}</h1>
    <h1>{{name2}} : {{nomeTema2}}</h1>
    <h1>{{name3}} : {{nomeTema3}}</h1>
    <h1>{{name4}} : {{nomeTema4}}</h1>

    
    <a href="/tasks">Definir tasks</a>


    {{/if}}