<h1>Escreva o nome dos quatro integrantes e os temas ou funções</h1>
    <form action="/tasks/done" method="POST">
    <input type="hidden" value={{task1}} name="task1">
    <input type="hidden" value={{task2}} name="task2">
    <input type="hidden" value={{task3}} name="task3">
    <input type="hidden" value={{task4}} name="task4">



    <p>{{task1}}</p>
    <input type="checkbox" name="taskDone1">

     <p>{{task2}}</p>
    <input type="checkbox" name="taskDone2">

     <p>{{task3}}</p>
    <input type="checkbox" name="taskDone3">
    
     <p>{{task4}}</p>
    <input type="checkbox" name="taskDone4">
    <p>-------</p>
    <input type="submit" value="enviar">
    </form>